.svg-container{
    width: 750px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: rgb(250, 250, 250);
}


.walls{
    stroke:rgb(128, 127, 127);
    fill: rgb(90,90,90);;
    stroke-width: 10;
}
.rooms-office{
    fill: rgb(210, 242, 242);
    fill-opacity: 100%
}

.rooms-office-highlighted{
    fill: rgb(162, 187, 187);
    fill-opacity: 100%
}

.rooms-amenities{
    fill: rgb(243, 192, 114);
    fill-opacity: 100%
}

.rooms-amenities-highlighted{
    fill: rgb(184, 144, 85);
    fill-opacity: 100%
}

.rooms-plant{
    fill: rgb(201, 157, 230);
    fill-opacity: 100%
}

.rooms-plant-highlighted{
    fill: rgb(149, 118, 170);
    fill-opacity: 100%
}

.rooms-stair{
    fill: rgb(168, 168, 168);
    fill-opacity: 100%
}

.rooms-stair-highlighted{
    fill: rgb(212, 210, 210);
    fill-opacity: 100%
}

.table td {
    text-align: center;   
 }
 .table th {
    text-align: center;   
 }


